.addNewTask{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    background-color: white;
}

.addNewTask__title {
    margin: 20px 0 0 20px;
}

.addNewTask__line {
    align-self: center;
}

.addNewTask__flexForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addNewTask__label {
    flex-basis: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.addNewTask__input {
    width: 100%;
    height: 35px;
}

.addNewTask__input {
    display: flex;
    flex-grow: 1;
    flex-grow: 500px;
}

.addNewTask__button {
    margin-right: 20px;
    white-space: nowrap;
    color: white;
    background-color: hsl(180, 100%, 25%);
    border: 1px solid teal;
    height: 35px;
}

.addNewTask__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.addNewTask__button:active {
    background-color: hsl(180, 100%, 20%);
}