.showTasks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 0px 1fr;
    background-color: white;
    align-items: center;
}

.showTasks__title {
    margin: 0 0 0 20px;
}

.showTasks__list {
    padding-inline-start: 0px;
}

.showTasks__output {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.showTasks__done {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 20px;
    flex: 0 0 30px;
    height: 30px;
    background-color: hsl(120, 100%, 25%);
    border: none;
}

.showTasks__itemColor {
    color: white;
}

.showTasks__done:hover {
    background-color: hsl(120, 100%, 30%);
}

.showTasks__done:active {
    background-color: hsl(120, 100%, 25%);
    border: 1px solid black;
}

.showTasks__read {
    flex-grow: 1;
    flex-basis: 0;
}

.showTasks__outputLine {
    text-decoration: line-through;
}

.showTasks__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30px;
    height: 30px;
    margin: 10px;
    margin-right: 20px;
    background-color: hsl(0, 100%, 50%);
    flex-grow: 0;
    border: none;
}

.showTasks__remove:hover {
    background-color: hsl(0, 100%, 62%);
}

.showTasks__remove:active {
    background-color: hsl(0, 100%, 45%);
    border: 1px solid black;
}

.showTasks__endLine {
    flex-grow: 1;
    width: 100%;
    margin: 0 20px 10px 20px;
}