.showTasks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr;
    background-color: white;
    align-items: center;
}

.showTasks__title {
    margin: 0 0 0 20px;
}

.showTasks__output {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.showTasks__done {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 20px;
    flex: 0 0 30px;
    height: 30px;
    background-color: hsl(120, 100%, 25%);
    border: none;
}

.showTasks__done:hover {
    background-color: hsl(120, 100%, 35%);
}

.showTasks__read {
    flex-grow: 1;
    flex-basis: 0;
}

.showTasks__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30px;
    height: 30px;
    margin: 10px;
    margin-right: 20px;
    background-color: red;
    flex-grow: 0;
}

.showTasks__remove:hover {
    background-color: hsl(0, 100%, 70%);
}

.test {
    flex-grow: 1;
    width: 100%;
    margin: 0 20px 10px 20px;
}