html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: hsl(0, 0%, 90%);
    word-break: break-all;
}

.container {
    max-width: 1000px;
    margin: 40px auto 20px auto;
}

.header__title {
    text-shadow: 1px 1px 100px black;
    font-weight: 900;
    margin-left: 10px;
    white-space: nowrap;
} 

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (2, 1fr);
    grid-row-gap: 10px;
}